@import 'tailwindcss/preflight';
/* Reemplaza @tailwind base */
@import 'tailwindcss/utilities';

/* resources/css/app.css */

@font-face {
    font-family: 'Montserrat';
    src: url('/resources/assets/fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat';
    margin: 0;
}

/* Estilo con un fondo con gradient lineal */
.header-gradient {
    background: linear-gradient(to right, #6e1e44, #cf1e4e)!important;
    /* Otras propiedades como padding, altura, etc. */
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;

    .h6{
        box-sizing: border-box;
        letter-spacing: 0.05em;
    }

    .buttons:hover{
        background-color: rgba(109, 23, 63, 0.2);
    }
    
    Button{
        font-weight: bold;
        letter-spacing: 0.05em;
        color: white !important;
    }

    img {
        width: 180px;
        height: 90px;
    }
}

.contenedor-inicial{
    margin-top: -20px;
}