@import 'tailwindcss/preflight';
/* Reemplaza @tailwind base */
@import 'tailwindcss/utilities';

/* resources/css/app.css */

@font-face {
    font-family: 'Montserrat';
    src: url('/resources/assets/fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat';
    margin: 0;
}

/* Estilo con un fondo con gradient lineal */
.header-gradient {
    background: linear-gradient(to right, #6e1e44, #cf1e4e)!important;
    /* Otras propiedades como padding, altura, etc. */
    padding: 5px;
}
